.header {
  padding: 22px 15px;
  background: var(--neutral-silver);
}
.header__container {
  max-width: 1245px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 100;
}

.header__list {
  display: flex;
  gap: 50px;
}
.header__item a,
.mobile-menu__item a,
.mobile-menu__btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #18191f;
  &:hover {
    font-weight: 500;
  }
}
.header__buttons {
  display: flex;
  gap: 14px;
}
.header__btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  border-radius: 6px;
  padding: 10px 20px;
  &--white {
    color: var(--brand-primary);
    background: transparent;
  }
  &--green {
    color: var(--neutral-white);
    background: var(--brand-primary);
  }
}
.burger {
  display: none;
  position: absolute;
  right: 15px;
  top: 27px;
  z-index: 6;
  align-items: center;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 3px;
  width: 100%;
  transform: scale(1);
  background-color: #000000;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
  // transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active:before {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
.burger.active:after {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}
.mobile-menu {
  display: none;
}
.open {
  display: flex !important;
}
@media (max-width: 996px) {
  .header__nav,
  .header__buttons {
    display: none;
  }
  .burger {
    display: flex;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    overflow-y: auto;
    background: var(--neutral-silver);
    align-items: center;
    gap: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }
  .mobile-menu__buttons {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

